# Haier configuration options

config MACH_HAIER
	bool "Haier device"
	depends on ARCH_MSM
	help
	  Support for Haier products

config MACH_HAIER_MSM8916
	bool "Haier MSM8916"
	depends on ARCH_MSM8916
	select MACH_HAIER
	help
	  Support for MSM8916 Haier variants
	  
config MACH_HAIER_MSM8909
	bool "Haier MSM8909"
	depends on ARCH_MSM8909
	select MACH_HAIER
	help
	  Support for MSM8909 Haier variants

menu "Haier board selection"

config MACH_RENDANG
	bool "Rendang board"
	select MACH_HAIER_MSM8916
	help
	  Support for Haier Rendang variant

config MACH_HY_A16C3H
	bool "A16C3H board"
	select MACH_HAIER_MSM8909
	help
	  Support for Haier A16C3H variant

config MACH_B26D2H
	bool "B26D2H board"
	select MACH_HAIER_MSM8909
	help
	  Support for Haier B26D2H variant

endmenu
